[Unit]
Description=Spamassassin Proxy Daemon
After=network.target

[Service]
PIDFile=/home/spampd/spampd.pid
EnvironmentFile=/etc/sysconfig/spampd
ExecStart=/usr/local/bin/spampd --port=$INCOMING_PORT --relayhost=$FORWARD_ADDR $OPTIONS --user $USER --group $GROUP --pid=/home/spampd/spampd.pid --nodetach
Restart=always

[Install]
WantedBy=multi-user.target
